
// background
$dark-background:                 #1a2035 !default;
$card-dark-background:            #202940 !default;
$form-dark-border-color:          #323A4D !default;
$category-color:                  #606477 !default;
$title-color:                     #8b92a9 !default;
$dark-linear-background:          linear-gradient(60deg,#7b1fa2,#913f9e) !default;

// header variables color
$facebook-light:                  #617db9 !default;
$twitter-light:                   #1b8de4 !default;
$default-light:                   #b9b9b9 !default;
$purple-light:                    #913f9e !default;
$warning-dark:                    #f5700c !default;
$success-light:                   #4ea752 !default;
$success-dark:                    #288c6c !default;
$danger-dark:                     #d22824 !default;
$danger-light:                    #da3a36 !default;
$info-light:                      #25b1c3 !default;
$info-dark:                       #029eb1 !default;
$orange-500:                      #ff9800 !default;
$purple-700:                      #7b1fa2 !default;
$pink-400:                        #ec407a !default;
$pink-600:                        #d81b60 !default;

// header gradient
$header-warning-gradient:         linear-gradient(60deg, $warning-dark, $orange-500);
$header-success-gradient:         linear-gradient(60deg, $success-dark, $success-light);
$header-danger-gradient:          linear-gradient(60deg, $danger-dark, $danger-light);
$header-info-gradient:            linear-gradient(60deg, $info-dark, $info-light);
$header-purple-gradient:          linear-gradient(60deg, $purple-700, $purple-light);
$header-rose-gradient:            linear-gradient(60deg, $pink-400, $pink-600);
