// Navs

$nav-link-padding-y:                .625rem !default;
$nav-link-padding-x:                .9375rem !default;
$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-margin-top:               2.8125rem !default;
$nav-tabs-card-header-margin:       1.875rem !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           rgba(255,255,255, .2) !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
$nav-tabs-padding-y:                0 !default;
$nav-tabs-padding-x:                .9375rem !default;
$nav-tabs-link-padding-y:           .625rem !default;
$nav-tabs-link-padding-x:           $nav-tabs-padding-x !default;
$nav-tabs-link-transition:          0.3s background-color 0s !default;
$nav-tabs-link-active-transition:   0.3s background-color 0.2s !default;
$nav-tabs-link-disabled-hover:      rgba(255,255,255,0.5) !default;

$nav-pills-padding-y:               0 !default;
$nav-pills-padding-x:               .9375rem !default;
$nav-pills-border-radius:           30px !default;
$nav-pills-link-active-color:       $white !default;
$nav-pills-link-active-bg:          $primary !default;

$nav-pills-icon-font-size:          1.875rem !default;
$nav-pills-icon-padding-y:          .9375rem !default;
$nav-pills-icon-padding-x:          0 !default;
$nav-pills-icon-radius:             4px !default;

$nav-pills-link-hover-bg:           rgba(200, 200, 200, 0.2) !default;
$nav-pills-margin:                  5px !default;

$nav-pills-tab-space-padding:       20px 0 50px !default;
$nav-tab-content-padding:           20px 0 9px !default;

$nav-divider-color:                 $gray-200 !default;
$nav-divider-margin-y:              $spacer / 2 !default;

$navbar-color:                      #a9afbbd1 !default;
$pills-color:                       $navbar-color !default;
$tab-space-padding:                 20px 0 50px !default;
$tab-card-space-padding:            20px 0 9px !default;

// Navbar

$navbar-padding-y:                  0.625rem !default;
$navbar-padding-x:                  0 !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            1.125rem !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;
$navbar-brand-color:                #a9afbbd1 !default;
$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $btn-border-radius !default;

$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-dark-notification-bg:       $dark-linear-background !default;
$navbar-dark-notification-height:   18px !default;
$navbar-dark-notification-max-width: $navbar-dark-notification-height !default;
$navbar-dark-notification-right:    12px !default;

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;

$navbar-light-brand-color:                $navbar-light-active-color !default;
$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;

// navbar color links
$navbar-color-links:                unquote('#a9afbbd1') !default;
