<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            General info
                        </div>
                    </div>
                    <div class="card-body">
                        <h2>No parsed scoresheets found</h2>
                        <h2><a>Start parsing</a> to gather some stats!</h2>

                        <div class="row">
                            <div class="col text-right">
                                <button mat-raised-button class="btn btn-primary" (click)="parse()">Parse</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
